<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% content_for :title, "Default Degree Planner" %>
  <%= csrf_meta_tags %>
</head>


<body class="profile-body">
  <%= render 'shared/navbar_student' %>


  <h1 class="degreeplan-title">Default Degree Planner</h1>
  

  <%= form_with url: save_degree_plan_path, method: :post, local: true, class: 'degreeplan-form' do |f| %>
  


<%#
  <div>
    <label for="core_curriculum">Core Curriculum:</label>
    <%= f.select :core_curriculum, options_for_select(['Curriculum 1', 'Curriculum 2', 'Curriculum 3']) %>
  </div>

<div id="degreeplan-container" class="degreeplan-semesters grid">
  <% semesters = [
      { semester: 1, courses: [
          { name: 'Engineering Lab I - Computation', crn: 'ENGR 102', credits: 2 },
          { name: 'Engineering Mathematics I', crn: 'MATH 151', credits: 4 },
          { name: 'General Chemistry for Engineering Students/Laboratory', crn: 'CHEM 107/117', credits: 4 },
          { name: 'Introduction to Rhetoric and Composition 1 or Composition and Rhetoric', crn: 'ENGL 104/103', credits: 3 },
          { name: 'UCC Elective', crn: '', credits: 3 }
        ] },
      { semester: 2, courses: [
          { name: 'Experimental Physics and Engineering Lab II - Mechanics', crn: 'ENGR 216', credits: 2 },
          { name: 'Newtonian Mechanics for Engineering and Science', crn: 'PHYS 206', credits: 3 },
          { name: 'Engineering Mathematics II', crn: 'MATH 152', credits: 4 },
          { name: 'Technical/Professional Writing', crn: 'ENGL 210 or COMM 203/205', credits: 3 }, 
          { name: 'UCC Elective', crn: '', credits: 3 }
        ] },
      { semester: 3, courses: [
          { name: 'Program Design and Concepts', crn: 'CSCE 120/121', credits: 4 },
          { name: 'Discrete Structures for Computing', crn: 'CSCE 222', credits: 3 },
          { name: 'Introduction to Computing', crn: 'CSCE 181', credits: 1 },
          { name: 'Linear Algebra', crn: 'MATH 304', credits: 3 },
          { name: 'Science elective', crn: '', credits: 4 },
          { name: 'General elective', crn: '', credits: 1 }
        ] },
      { semester: 4, courses: [
          { name: 'Data Structures and Algorithms', crn: 'CSCE 221', credits: 4 },
          { name: 'Computer Organization', crn: 'CSCE 312', credits: 4 },
          { name: 'Programming Languages', crn: 'CSCE 314', credits: 3 },
          { name: 'Emphasis area elective', crn: '', credits: 3 },
          { name: 'UCC Elective', crn: '', credits: 3 }
        ] },
      { semester: 5, courses: [
          { name: 'Introduction to Computer Systems', crn: 'CSCE 313', credits: 4 },
          { name: 'Foundations of Software Engineering', crn: 'CSCE 315/331', credits: 3 },
          { name: 'Seminar ', crn: 'CSCE 481', credits: 1 },
          { name: 'Principles of Statistics I', crn: 'STAT 211', credits: 3 },
          { name: 'Emphasis area elective', crn: '', credits: 3 },
          { name: 'UCC Elective', crn: '', credits: 3 }
        ] },
      { semester: 6, courses: [
          { name: 'Design and Analysis of Algorithms', crn: 'CSCE 411', credits: 3 }, 
          
          { name: 'Differential Equations', crn: 'MATH 251/302/308', credits: 3 },
          { name: 'High-Impact Experience', crn: 'CSCE 399', credits: 0 },
          { name: 'Computer Science Elective', crn: 'CSCE ', credits: 3 },
          { name: 'Computer Science Elective', crn: 'CSCE ', credits: 3 },
          { name: 'Science Elective', crn: 'CSCE ', credits: 3 },
          # { name: 'General elective', crn: '', credits: 3 },
          
        ] },
      { semester: 7, courses: [
          { name: 'Computer Science Elective', crn: 'CSCE ', credits: 3 },
          { name: 'Computer Science Elective', crn: 'CSCE ', credits: 3 },
          { name: 'Computer Science Elective', crn: 'CSCE ', credits: 3 },
          { name: 'Emphasis area elective', crn: '', credits: 3 },
          { name: 'UCC Elective', crn: '', credits: 3 }
        ] },
      { semester: 8, courses: [
          { name: 'Senior Capstone Design', crn: 'CSCE 482', credits: 3 },
          { name: 'Computer Science Elective', crn: 'CSCE ', credits: 3 },
          { name: 'UCC Elective', crn: '', credits: 3 },
          { name: 'UCC Elective', crn: '', credits: 3 },
          { name: 'Emphasis area elective', crn: '', credits: 3 },
        ] }
    ] %>

  <% semesters.each do |semester_data| %>
    <div class="semester-container">
      <h3>Semester <%= semester_data[:semester] %>:</h3>
      <table>
        <thead>
          <tr>
            <th>Course Code </th>
            <th>Cource Name</th>
            <th>Credits</th>
          </tr>
        </thead>
        <tbody>
          <% semester_data[:courses].each_with_index do |course, index| %>
            <tr>
              <td><span><%= course[:crn] %></span></td>
              <td><span><%= course[:name] %></span></td>
              <td><span><%= course[:credits] %></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>



<% end %>

<!-- JavaScript for toggling dropdown -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const avatar = document.getElementById('avatar');
      const dropdownMenu = document.getElementById('dropdown-menu');

      // Toggle dropdown visibility
      avatar.addEventListener('click', function() {
        dropdownMenu.classList.toggle('profile-show');
      });

      // Hide dropdown if clicking outside
      document.addEventListener('click', function(event) {
        if (!avatar.contains(event.target) && !dropdownMenu.contains(event.target)) {
          dropdownMenu.classList.remove('profile-show');
        }
      });
    });

  </script>
