<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <!-- Greeting in the top left -->
      <h3 class="float-start">Hey, <%= current_student_login.full_name %>!</h3>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
      <h1>Admin Dashboard</h1>
      <p>Welcome, <%= current_student_login.full_name %>! What would you like to do?</p>

      <div class="d-grid gap-3">
        <%= link_to 'Manage Users', students_path, class: 'btn btn-purple btn-lg' %>
        <%= link_to 'View Default Degree Plan', degree_plan_path, class: 'btn btn-purple btn-lg' %>
        <%= link_to 'View Enrolled Courses', student_courses_path, class: 'btn btn-purple btn-lg' %>
        <%= link_to 'Track Management', admin_tracks_path, class: 'btn btn-purple btn-lg' %>
        <%= link_to 'Emphasis Management', admin_emphases_path, class: 'btn btn-purple btn-lg' %>
        <%= link_to 'Course Management', admin_courses_path, class: 'btn btn-purple btn-lg' %>
        <%= link_to 'Core Categories Management', admin_core_categories_path, class: 'btn btn-purple btn-lg' %>
        <%= link_to 'Major Management', admin_majors_path, class: 'btn btn-purple btn-lg' %>
      </div>
    </div>
  </div>

<%= link_to "Sign Out", destroy_student_login_session_path %>

</div>
