<h1>Admin Dashboard</h1>

<p>Welcome, <%= current_student_login.full_name %>!</p>

<%= link_to "Sign Out", destroy_student_login_session_path %>

<div class="admin-actions">
  <h2>Manage Users</h2>
  <ul>
    <li><%= link_to 'View All Users', students_path %></li>
    <li><%= link_to 'Add New User', new_student_path %></li>
  </ul>

  <h2>Degree Plans</h2>
  <ul>
    <li><%= link_to 'View Default Degree Plan', degree_plan_path %></li>
  </ul>

  <h2>Your Courses</h2>
  <ul>
    <li><%= link_to 'View Enrolled Courses for a Student', student_courses_path %></li>
    <li><%= link_to 'Enroll a Student in New Course', new_student_course_path %></li>
  </ul>

  <h2>Manage Core Categories</h2>
  <ul>
    <li><%= link_to 'View Core Categories', core_categories_path %></li>
    <li><%= link_to 'Add Core Categories', new_core_category_path %></li>
  </ul>

  <h2>Manage Majors</h2>
  <ul>
    <li><%= link_to 'View Majors', majors_path %></li>
    <li><%= link_to 'Add a Major', new_major_path %></li>
  </ul>

  <h2>Manage Courses</h2>
  <ul>
    <li><%= link_to 'View Course', courses_path %></li>
    <li><%= link_to 'Add a Course', courses_path %></li>
  </ul>
  
</div>


