<%= form_with(model: [:admin, core_category], local: true) do |form| %>
    <% if core_category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(core_category.errors.count, "error") %> prohibited this core category from being saved:</h2>
        <ul>
          <% core_category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :cname, "Category Name" %>
      <%= form.text_field :cname %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  