<h1>Degree Plan</h1>

<%= link_to 'Add New Course', new_student_course_path %>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Course Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @student_courses.each do |student_course| %>
      <tr>
        <td><%= student_course.student.first_name %> <%= student_course.student.last_name %></td>
        <td><%= student_course.course.cname %></td>
        <td>
          <%= link_to 'Edit', edit_student_course_path(student_course) %>
          <%= link_to 'Delete', student_course_path(student_course), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>