<h1>Track Management</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td>
          <!-- if track being edited, show the edit form -->
          <% if track == @track %>
            <%= form_with(model: track, local: true, url: track_path(track), method: :patch) do |form| %>
              <%= form.text_field :tname %>
              <%= form.submit 'Update', class: 'btn btn-primary' %>
            <% end %>
          <% else %>
            <%= track.tname %>
          <% end %>
        </td>
        <td>
          <% unless track == @track %>
            <%= link_to 'Edit', edit_track_path(track), class: 'btn btn-warning' %>
            <%= link_to 'Delete', track_path(track), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- form create new track -->
<h2>Create New Track</h2>
<%= form_with(model: @track, local: true, url: tracks_path) do |form| %>
  <div class="form-group">
    <%= form.label :tname, "Track Name" %>
    <%= form.text_field :tname, class: 'form-control' %>
  </div>

  <%= form.submit 'Create Track', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Track List', tracks_path, class: 'btn btn-secondary' if @track.persisted? %>
