<h1>You're logged in! Welcome to the Student Dashboard!</h1>
<%= link_to "Sign Out", destroy_student_login_session_path %> <br>
<%= link_to 'View Profile', profile_student_path(current_student_login) %>
<p>Welcome, <%= current_student_login.full_name %>!</p>

<h1> Start Planning Your Degree </h1>
<div class="student-actions">

  <h2>Student Actions</h2>
  <ul>
    <li><%= link_to 'Edit Profile', edit_student_path(current_student_login) %></li>
    <li><%= link_to 'View Degree Plan', degree_plan_path %></li>
    <li><%= link_to 'Download Degree Plan', download_degree_plan_path %></li>
    <li><%= link_to 'Import Existing Degree Planner', import_degree_plan_path %></li> <!-- Replace # with correct path -->
    <li><%= link_to 'Interest Form', interest_form_path %></li> <!-- Replace # with correct path -->
  </ul>
</div>
