<div class="container">
  <h4 class="alert alert-success">You're logged in! Welcome to the Student Dashboard!</h4>
  
  <div class="mb-3">
    <%= link_to "Sign Out", destroy_student_login_session_path, class: "btn btn-danger" %>
  </div>

  <p>Welcome, <%= current_student_login.full_name %>!</p>

  <%= image_tag 'dashboard.png', alt: 'Dashboard Image', class: 'img-fluid dashboard-image' %>

  <h1 class="mt-5">Start Planning Your Degree</h1>

  <div class="student-actions">
    <h2 class="my-3">Student Actions</h2>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to 'Edit Profile', edit_student_path(current_student_login) %></li>
      <li class="list-group-item"><%= link_to 'View Degree Plan', degree_plan_path %></li>
      <li class="list-group-item"><%= link_to 'Download Degree Plan', download_degree_plan_path %></li>
      <li class="list-group-item"><%= link_to 'Import Existing Degree Planner', import_degree_plan_path %></li>
      <li class="list-group-item"><%= link_to 'Interest Form', interest_form_path %></li>
    </ul>
  </div>
</div>
