<%= render 'shared/navbar' %>
<% content_for :title, "Delete Course - #{ @course.cname }" %>
<h1>Are you sure you want to delete this course?</h1>
<p>
  <strong>Course Name:</strong>
  <%= @course.cname %><br>
  <strong>Course Code:</strong>
  <%= @course.ccode %><br>
  <strong>Course Number:</strong>
  <%= @course.cnumber %><br>
</p>

<%= form_with(url: admin_course_path(@course), method: :delete) do |form| %>
  <div class="actions">
    <%= form.submit 'Delete Course', class: 'btn btn-danger' %>
    <%= link_to 'Cancel', admin_course_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
